{% load static %}
<html>
    <head>
        <title></title>
    </head>
    <link href="{% static 'new.css' %}" type="text/css" rel="stylesheet"/>
    <body>
        {% block content %}
        <h2> your job experience</h2>
        {% for data in dataset %}
        <h3 class="aa">{{data.field}}</h3>
        <h3>{{data.desc}}</h3>
        {% endfor %}
        {% endblock content %}
        <form method="post" action="newj" onsubmit="">
            {% csrf_token %}
        <p><input id="field" name="field" type="text" placeholder="Enter your stream"></p>
        <p><textarea rows="28" cols="150" id="desc"  name="desc"  type="text" placeholder="Description"></textarea></p>
        <P><input type="submit" value="UPDATE"></P>
    </body>
</html>